# Ignore the specific camera config with secrets
config/cameras.yaml

# Python cache files
__pycache__/
*.pyc

# Virtual environment folder
.venv/

# Ignore local docker-compose configurations
docker-compose.yaml
docker-compose.yaml.bak